.benefits {
  background-color: var(--secondary-bg-color);

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px * 2) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 30px * 4) / 4);
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    &::before {
      content: '';
      display: block;
      height: 120px;
      background: #f5f4fa;
      border-radius: 4px;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(1)::before {
      background-image: url(../img/benefits_svg_1.svg);
    }

    &:nth-child(2)::before {
      background-image: url(../img/benefits_svg_2.svg);
    }

    &:nth-child(3)::before {
      background-image: url(../img/benefits_svg_3.svg);
    }

    &:nth-child(4)::before {
      background-image: url(../img/benefits_svg_4.svg);
    }
  }

  &__tittle {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}
